target
Cargo.lock
*.ans
profile.json
*Results*/*
*/*Results*/*

Results/*
python_RL/tb/
*.mkv
*.mp4
*.hevc
video_samples_vmaf/*
.vscode/
*.log
*.txt
*.zip
*.rgb
*.hevc
*wandb*
simu_decode_samples/*
python_RL/runs/*
python_RL/Res*

*_pycache_*
.venv/*
viz_screenshots/